.character{
    border: 2px blue solid;
    border-radius: 5px;
    padding: 20px;
}

.characterpagination {
    padding: 20px;
    display: grid;
    grid-template-columns: 100px 30px 30px 30px 100px;
}

.charpagebutton {
    margin: 5px;
    text-align: center;
}