#logo {
    max-width: 400px;
}

.App {
    text-align: center;
    background-color: paleturquoise;
    height: 100%;
  width: 100%;
}

.buttons {
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}
.buttons:hover {
    background-color: aqua;
    color: red;
    padding-left: 10px;
    padding-right: 10px;
}
.containerBox{
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
}